<h2>Hello, {{ name }}</h2>
<h3>Enrollment date: {{ start_date }}</h3>
<h3>
  You have been successfully enrolled in the
  plan: <span style="font-weight: bold">{{plan_title}}</span>.
  The plan duration is <span style="font-weight: bold">{{plan_duration}}</span> months
  and it'll cost <span style="font-weight: bold">{{price}},00</span>.
  The end date is <span style="font-weight: bold">{{end_date}}</span>.
</h3>
